article{
    border: solid 2px black;
}

/*Habilitamos la pagina para ordenadores en posicion horizontal.*/
@media (orientation: landscape) and (min-width: 1424px){
	section{
        display: grid;
        grid-template-columns: auto auto auto;
    }
    article{
        background-color: blanchedalmond;
    }
}

/*Habilitamos la pagina para ordenadores en posicion vertical.*/
@media (orientation: portrait) and (min-width: 1424px){
	section{
        display: grid;
        grid-template-columns: auto auto;
    }
    article{
        background-color: blanchedalmond;
    }
}

/*Habilitamos la pagina para tablets en posicion horizontal.*/
@media (orientation: landscape) and (min-width: 913px) and (max-width: 1423px) {
    section{
        display: grid;
        grid-template-columns: auto auto;
    }
    article{
        background-color: rgb(214, 188, 148);
    }
  }
  
  /*Habilitamos la pagina para tablets en posicion vertical.*/
  @media (orientation: portrait) and (min-width: 913px) and (max-width: 1423px){
    section{
        display: grid;
        grid-template-columns: auto;
    }
    article{
        background-color: rgb(214, 188, 148);
    }
  }

  /*Habilitamos la pagina para moviles en posicion horizontal.*/
@media (orientation: landscape) and (max-width: 912px){
    section{
        display: grid;
        grid-template-columns: auto auto;
    }
    article{
        background-color: rgb(175, 154, 123);
    }
}

/*Habilitamos la pagina para moviles en posicion vertical.*/
@media (orientation: portrait) and (max-width: 912px){
    section{
        display: grid;
        grid-template-columns: auto;
    }
    article{
        background-color: rgb(175, 154, 123);
    }
}